BOT_TOKEN=8590355717:AAHJnUVywyVA-ATqrfGXLr0U3CoRNxpZTtE

POSTGRES_USER=hero
POSTGRES_PASSWORD=admin
POSTGRES_DB=videostats
POSTGRES_HOST=db
POSTGRES_PORT=5432

OPENAI_API_KEY=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